<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
</head>
<body class="bg-warning">
    <div class="navbar navbar-dark bg-dark p-2">
        <h1 class="display-3 text-light">Welcome {{user.first_name}}!</h1>
        <div class="d-flex gap-3 align-items-center">
            <a class="badge badge-secondary" href="/users/dashboard/{{user.id}}">Return to Dashboard</a>
            <a class="btn btn-danger" href="/logout">Logout</a>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid bg-muted">
            <h2 class="display-5 py-2">Edit Recipe!</h2>
            {% for msg in get_flashed_messages() %}
                <p class="text-danger">{{ msg }}</p>
            {% endfor %}
        </div>
        <form class="container" action="/items/edit/{{item.id}}/process" method="POST">
            <div class="d-flex gap-3">
                <div class="container bg-dark rounded text-light p-2">
                        <label class="form-label" for="name">Name:</label>
                        <input class="form-control" type="text" name="name" id="name" value="{{item.name}}">
                        <label class="form-label" for="description">Description:</label>
                        <input class="form-control" type="text" name="description" id="description" value="{{item.description}}">
                </div>
                <div class="container bg-dark rounded text-light p-2">
                    <label class="form-label" for="date">Date Created:</label>
                    <input class="form-control" type="date" name="date" id="date" value="{{item.date}}">
                </div>
            </div>
            <div class='container-fluid px-0 d-flex justify-content-end'>
                <input class="btn btn-primary my-4" type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>